/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * alwyn-new-web:
 *   - http://typekit.com/eulas/00000000000000003b9afa7a
 *   - http://typekit.com/eulas/00000000000000003b9afa77
 * canada-type-gibson:
 *   - http://typekit.com/eulas/00000000000000003b9b0baa
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-01-17 17:53:35 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=iwr8dkq&ht=tk&f=8442.8444.24350&a=1842135&app=typekit&e=css");

@font-face {
font-family:"alwyn-new-web";
src:url("https://use.typekit.net/af/e0b58b/00000000000000003b9afa7a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/e0b58b/00000000000000003b9afa7a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/e0b58b/00000000000000003b9afa7a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-style:normal;font-weight:500;
}

@font-face {
font-family:"alwyn-new-web";
src:url("https://use.typekit.net/af/b9142c/00000000000000003b9afa77/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b9142c/00000000000000003b9afa77/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b9142c/00000000000000003b9afa77/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/a4adc9/00000000000000003b9b0baa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/a4adc9/00000000000000003b9b0baa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/a4adc9/00000000000000003b9b0baa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

.tk-alwyn-new-web { font-family: "alwyn-new-web",sans-serif; }
.tk-canada-type-gibson { font-family: "canada-type-gibson",sans-serif; }
